.gridItemContainer {
  box-shadow: 0px 4px 8px rgba(33, 36, 43, 0.1);
  border-radius: 10px;
  background-color: white;
  box-sizing: border-box;
  padding: 8px 15px;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.newGrid {
  animation: fadeIn ease 300ms;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0.2);
  }
  60% {
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
  }
}

.removedGrid {
  animation: fadeOut ease 170ms;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0.2);
  }
}

.cardDropdown {
  position: absolute;
  top: 10px;
  right: 10px;
  color: lightgray;
}

.emphasis {
  animation: pop ease 170ms;
}

@keyframes pop {
  0% {
    transform: scale(1);
  }
  60% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.buttonAddLarge {
  width: 150px;
  height: 40px;
  position: absolute;
  left: 47%;
  margin-top: 20px;
  font-size: medium;
}

.tagTitle {
  left: 15px;
  margin-bottom: 10px;
}
