.searchResultTableRow {
  height: 100px;
}

.topicModelTableRow {
  height: 40px;
}

th.ant-table-cell {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.wordCloudContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90%;
}

.metricsDashboardContainer {
  background: transparent;
  margin: 15px 15px 0 15px;
}

.customSearchForm {
  margin: 0;
  position: absolute;
  width: 80%;
  top: 20%;
  left: 8%;
}

.returnToSearchButton {
  position: absolute;
  bottom: 25px;
}
